                <div class="fullwidth-block">
                    <div class="container">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="photo">
                                    <div class="photo-preview photo-detail" data-bg-image="{$TEMPLATE_IMAGES_DIR}/photo-1.jpg"></div>
                                    <div class="photo-details">
                                        <h3 class="photo-title"><a href="current.php?location=London">London</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="photo">
                                    <div class="photo-preview photo-detail" data-bg-image="{$TEMPLATE_IMAGES_DIR}/photo-2.jpg"></div>
                                    <div class="photo-details">
                                        <h3 class="photo-title"><a href="current.php?location=Paris">Paris</a></h3>
                                    </div>
                                </div>
                                <div class="photo">
                                    <div class="photo-preview photo-detail" data-bg-image="{$TEMPLATE_IMAGES_DIR}/photo-3.jpg"></div>
                                    <div class="photo-details">
                                        <h3 class="photo-title"><a href="#"><a href="current.php?location=New-York">New-York</a></a></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="photo">
                                    <div class="photo-preview photo-detail" data-bg-image="{$TEMPLATE_IMAGES_DIR}/photo-4.jpg"></div>
                                    <div class="photo-details">
                                        <h3 class="photo-title"><a href="current.php?location=Singapore">Singapore</a></h3>
                                    </div>
                                </div>
                                <div class="photo">
                                    <div class="photo-preview photo-detail" data-bg-image="{$TEMPLATE_IMAGES_DIR}/photo-5.jpg"></div>
                                    <div class="photo-details">
                                        <h3 class="photo-title"><a href="current.php?location=Sydney">Sydney</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>