    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Weather App - Locations</title>

        <!-- Loading third party fonts -->
        <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
        <link href="{$TEMPLATE_FONTS_DIR}/font-awesome.min.css" rel="stylesheet" type="text/css">

        <!-- Bootstrap compiled and minified CSS -->
        <link rel="stylesheet" href="{$TEMPLATE_CSS_DIR}/bootstrap.min.css">
        <link rel="stylesheet" href="{$TEMPLATE_CSS_DIR}/main.css">
        <link rel="stylesheet" href="{$TEMPLATE_CSS_DIR}/style.css">

        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <link href="{$TEMPLATE_CSS_DIR}/ie10-viewport-bug-workaround.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>