        <div class="container">
            <div class="starter-template">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Weather App</h1>
                        <h2>Locations</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-0 col-md-5"></div>
                    <div class="col-sm-12 col-md-2" id="locations">
                        <ul>
                            <li><a href="current.php?location=London">London</a></li>
                            <li><a href="current.php?location=Paris">Paris</a></li>
                            <li><a href="current.php?location=New-York">New-York</a></li>
                            <li><a href="current.php?location=Singapore">Singapore</a></li>
                            <li><a href="current.php?location=Sydney">Sydney</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-0 col-md-5"></div>
                </div>
            </div>
        </div><!-- /.container -->